body {
    cursor: none;
}

.cursor-dot {
    position: fixed;
    width: 6px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(16, 0, 186), 0 0 30px rgba(16, 0, 186);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: transform 0.05s ease-out;
}

.cursor-amongus {
    position: fixed;
    width: 18px;
    height: 18px;
    background: url('assets/amongus.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    transform: translate(-130%, -110%);
    transition: left 0.2s ease, top 0.2s ease;
    z-index: 9999;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-130%, -110%) scale(1);
    }
    50% {
        transform: translate(-130%, -110%) scale(1.1);
    }
}
